.container ul {
  display: flex;
  gap: 0.825vw;
}

.container .img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 10vw;
  height: 10vw;
  margin-bottom: 1vh;
  border-radius: 50%;
}

.container .img-holder > img {
  width: 60%;
}

.container li {
  text-align: center;
}

.container li p {
  font-size: 0.75rem;
}
