.hero-bg {
  position: absolute;
  left: calc(-1 * var(--container-margin-lg));
  width: 100vw;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  width: 100%;
  top: 30vh;
}

.hero-bg,
.holder {
  height: 150vh;
}

.titles {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20vh;
}

.titles header {
  top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.titles header h1 {
  text-transform: uppercase;
}

.titles header p {
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

.titles nav {
  position: relative;
}

.titles nav > ul {
  position: absolute;
  top: -10vh;
  right: 0;
  display: flex;
  gap: 6vw;
  font-size: 1.125rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
  white-space: nowrap;
}

.description {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.description h5 {
  margin-bottom: 4vh;
}

.description > *:first-child {
  width: 70%;
}

.description > *:last-child {
  width: 40%;
}

@media screen and (max-width: 640px) {
  .hero-bg {
    left: calc(-1 * var(--container-margin-sm));
  }

  .hero-content {
    top: 10vh;
  }

  .hero-bg,
  .holder {
    height: 80vh;
  }
}
