@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css');

:root {
  --container-margin-lg: 10vw;
  --container-margin-sm: 7vw;
}

html,
body {
  font-family: 'SUIT Variable', SUIT, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', sans-serif;
  color: #fff;
  background-color: #000;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.button {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: transparent;
  font: inherit;
  text-transform: uppercase;
  font-weight: 900;
}

button:focus {
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 10rem;
  letter-spacing: -0.625rem;
  line-height: 0.875;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.875rem;
  letter-spacing: -0.05rem;
}

h4 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.text-4xl {
  font-size: 3.5rem;
}

.text-3xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 1.125rem;
  letter-spacing: -0.05rem;
}

.text-xl {
  font-size: 1rem;
}

.text-lg {
  font-size: 0.875rem;
}

.text-md {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.625rem;
}

.text-center {
  text-align: center;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: 0.25rem;
}

.text-black,
h1,
h2,
h3,
h4 {
  font-weight: 900;
}

.uppercase,
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.button-lg {
  height: 7vh;
}

.button-md {
  height: 5vh;
}

.w-full {
  width: 100%;
}

/* TODO: vw 기준으로 구체화 */
.square-md {
  width: 15vw;
  height: 15vw;
}

/* TODO: vw 기준으로 구체화 */
.square-large {
  width: 20vw;
  height: 20vw;
}

.circle-md {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.square-md,
.square-large,
.circle-md,
.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.table-list {
  border-top: 1px solid #fff;
}

.table-item {
  border-bottom: 1px solid #fff;
}

#container {
  position: relative;
  margin: 0 auto;
  width: calc(100vw - 2 * var(--container-margin-lg));
  max-width: 1280px;
}

/* for mobile */
@media screen and (max-width: 640px) {
  html {
    font-size: 12px;
  }

  #container {
    width: calc(100vw - 2 * var(--container-margin-sm));
  }

  h1 {
    font-size: 5rem;
    letter-spacing: -0.3rem;
  }
}

/* for tablet PC */
@media screen and (max-width: 960px) and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}
